body {
    margin: 0;
    overflow: hidden;
    padding: 30px;
}

div {
    display: flex;
}

#jsonInput {
    min-width: 200px;
    max-width: 200px;
}

textarea {
    width: 190px;
    min-height: 400px;
    resize: none;
}